.button-primary {
  margin: auto;
  padding: 10px;
  border: none;
  border-radius: 4px;

  background-color: #04AA6D;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}